<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/payments</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <filter>
        <filter-name>encodingfilter</filter-name>
        <filter-class>com.epam.payments.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.epam.payments.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>/jsp/user/login.jsp</param-name>
            <param-value>ADMIN;CLIENT</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/registration/registration.jsp</param-name>
            <param-value>ADMIN;CLIENT</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/registration/confirmationRegistration.jsp</param-name>
            <param-value>ADMIN;CLIENT</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/admin/adminMain.jsp</param-name>
            <param-value>ADMIN</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/admin/adminAccounts.jsp</param-name>
            <param-value>ADMIN</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/admin/adminUsers.jsp</param-name>
            <param-value>ADMIN</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/admin/adminAllPayments.jsp</param-name>
            <param-value>ADMIN</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/client/clientMain.jsp</param-name>
            <param-value>CLIENT</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/client/clientAccounts.jsp</param-name>
            <param-value>CLIENT</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/client/clientReplenishAccount.jsp</param-name>
            <param-value>CLIENT</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/client/clientBankcard.jsp</param-name>
            <param-value>CLIENT</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/client/clientAddBankcard.jsp</param-name>
            <param-value>CLIENT</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/client/clientPayments.jsp</param-name>
            <param-value>CLIENT</param-value>
        </init-param>
        <init-param>
                <param-name>/jsp/user/client/clientCreatePayment.jsp</param-name>
            <param-value>CLIENT</param-value>
        </init-param>
        <init-param>
            <param-name>/jsp/user/client/clientSendPayment.jsp</param-name>
            <param-value>CLIENT</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
</web-app>
